.notification {
  //   @include respond(phone) {
  //     flex-direction: column;
  //   }
  &__initials {
    background: $color-primary;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0.9rem;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    margin-right: 1rem;

    @include respond(phone) {
      //   text-align: left !important;
      //   margin-bottom: 0.5rem;
      display: none;
    }
  }

  &__title {
    color: $color-secondary-dark;

    @include respond(phone) {
      font-size: 1.1rem !important;
      line-height: 1.8;
    }
  }
  &__body {
    color: $color-primary;
    @include respond(phone) {
      font-size: 1rem !important;
      line-height: 1.8;
    }
  }
}

.heading__primary--h6 {
  @include respond(phone) {
    font-size: 1.3rem !important;
    line-height: 1.8;
  }
}

.card .heading__primary--h6 {
  @include respond(phone) {
    font-size: 1.3rem !important;
    line-height: 1.5 !important;
  }
}
