/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  22% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-20%);
  }
  25% {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-100%);
  }
  100% {
    opacity: 0;
  }
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.dashboard__title {
  font-family: "poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 44px;
  color: #333333;
}

.text-title {
  font-family: "poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  color: #ffffff;
}

@media only screen and (max-width: 37.5em) {
  .text-title {
    font-size: 1rem;
    line-height: 1.6;
  }
}

.text-primary {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 24px;
  color: #ffffff;
}

@media only screen and (max-width: 37.5em) {
  .text-primary {
    font-size: 0.7rem;
    line-height: 1.5;
    padding-right: 2.3rem;
  }
}

.d-flex-h-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#phone-visble {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 37.5em) {
  #phone-visble {
    display: block;
    visibility: visible;
    margin: 0.5rem;
  }
}

.color-red {
  color: red !important;
  font-size: 1.3rem !important;
}

.bg__secondary {
  background-color: #548235 !important;
}

@media only screen and (max-width: 37.5em) {
  .ticket-padding {
    padding: 1rem;
    padding-top: 3rem;
  }
}

.main-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background: #548235;
  text-decoration: none;
  padding: 1.2rem 7rem;
  display: inline-block;
  margin-top: 1rem;
  border: 0;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.main-btn-100 {
  width: 100%;
}

.main-btn:hover {
  background-color: #859457 !important;
  color: #fff !important;
}

.link-text {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 26px;
  margin-top: 1rem;
  display: block;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #548235;
}

.btn-primary {
  background: #859457 !important;
}

.theme-white .btn-primary:hover {
  background: #548235 !important;
}

.btn__project {
  border: none;
  background: transparent;
  color: #548235;
  margin-top: 0.7rem;
  font-weight: 600;
  font-size: 0.8rem;
  -webkit-transition: all ease-out 0.8s;
  transition: all ease-out 0.8s;
}

@media only screen and (max-width: 37.5em) {
  .btn__project {
    font-size: 1rem !important;
  }
}

.btn__project:hover {
  color: #859457;
  text-decoration: underline;
}

.theme-white .swal-button.swal-button--confirm {
  background-color: #548235;
}

@media only screen and (max-width: 37.5em) {
  .bg-main {
    font-size: 0.9rem !important;
  }
}

.form__group {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 21.25em) {
  .form__group {
    margin-bottom: 1rem;
  }
}

.form__label {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #333333;
  display: block;
  margin-bottom: 0.5rem;
}

.form__label--2 {
  font-weight: 500;
  margin-top: 0.3rem;
}

.form__label--2-center {
  text-align: center;
}

.form__label--2 .label-link {
  font-weight: 600;
  color: #548235;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: -webkit-text-decoration ease-out 0.5s;
  transition: -webkit-text-decoration ease-out 0.5s;
  transition: text-decoration ease-out 0.5s;
  transition: text-decoration ease-out 0.5s, -webkit-text-decoration ease-out 0.5s;
}

.form__label--2 .label-link:hover {
  text-decoration: underline;
}

.form__label--3 {
  margin-top: 0.3rem;
  font-weight: 600;
}

.form__label--3 span {
  color: #859457;
  cursor: pointer;
}

.form__input {
  border: 1px solid #548235;
  border-radius: 8px;
  padding: 1.3rem 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #333333;
  width: 100%;
  padding-left: 1rem;
}

@media only screen and (max-width: 21.25em) {
  .form__input {
    padding: 1rem 0.5rem;
  }
}

.form__input--reg {
  border: none;
  border-bottom: 2px solid #c4c4c4;
  background: #f8f8f8;
  border-radius: 2px;
}

.form__input--submit {
  display: none;
  visibility: hidden;
}

.form__input:focus {
  border: 1px solid #859457;
  outline: 3px solid transparent;
}

.form__input option {
  color: #333333;
  cursor: pointer;
}

.form select {
  cursor: pointer;
  padding: 1.6rem 1rem !important;
}

@media only screen and (max-width: 21.25em) {
  .form select {
    padding: 1.3rem 1rem !important;
  }
}

::-webkit-input-placeholder {
  font-family: "poppins";
  font-weight: 500;
  font-size: 1.27rem;
  color: rgba(84, 130, 53, 0.5);
}

:-ms-input-placeholder {
  font-family: "poppins";
  font-weight: 500;
  font-size: 1.27rem;
  color: rgba(84, 130, 53, 0.5);
}

::-ms-input-placeholder {
  font-family: "poppins";
  font-weight: 500;
  font-size: 1.27rem;
  color: rgba(84, 130, 53, 0.5);
}

::placeholder {
  font-family: "poppins";
  font-weight: 500;
  font-size: 1.27rem;
  color: rgba(84, 130, 53, 0.5);
}

.show {
  display: block;
  visibility: visible;
}

.hide {
  display: none !important;
  visibility: hidden !important;
}

.email-card {
  padding: 4rem 3rem;
  background: #fff;
  border: 1px solid #f5f5f5;
  -webkit-box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.05);
          box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.05);
  border-radius: 1.2rem;
}

@media only screen and (max-width: 37.5em) {
  .email-card {
    padding: 2.5rem 2rem;
  }
}

.footer {
  background-color: #ffffff;
  padding: 3rem 5rem;
  text-align: center;
  border-top: 1px solid rgba(38, 138, 219, 0.15);
}

@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 1.5rem 2.3rem;
  }
}

.footer__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.01em;
  color: #333333;
  opacity: 0.6;
}

.login__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 90vh;
  overflow: hidden;
  margin: 0;
}

.login__container-img {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7.32%, rgba(84, 130, 53, 0.76)), color-stop(51.79%, rgba(26, 48, 66, 0.739556)), color-stop(68.31%, rgba(25, 40, 52, 0.8))), url(../img/bg-login.jpg);
  background: linear-gradient(180deg, rgba(84, 130, 53, 0.76) 7.32%, rgba(26, 48, 66, 0.739556) 51.79%, rgba(25, 40, 52, 0.8) 68.31%), url(../img/bg-login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38%;
          flex: 0 0 38%;
  min-height: 92vh;
  margin: 0;
}

@media only screen and (max-width: 56.25em) {
  .login__container-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    min-height: 93vh;
  }
}

@media only screen and (max-width: 37.5em) {
  .login__container-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    min-height: 96vh;
  }
}

.login__container-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62%;
          flex: 0 0 62%;
  padding: 6rem 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .login__container-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    padding: 4rem 8%;
  }
}

@media only screen and (max-width: 37.5em) {
  .login__container-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    padding: 4rem 8%;
  }
}

.login__logo {
  width: 15rem;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .login__logo {
    width: 12rem;
  }
}

.login__title {
  font-family: "poppins";
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 4.5rem;
  color: #333333;
  margin: 1.3rem 0rem;
}

.login__title--primary {
  color: #548235;
  font-size: 2.1rem;
  margin: 2rem 0rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .login__title {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

.login__form-img {
  position: absolute;
  opacity: 0.1;
  bottom: -2rem;
  right: 0;
  z-index: -1;
  height: 60vh;
}

@media only screen and (max-width: 37.5em) {
  .login__form-img {
    height: 38vh;
    bottom: 0rem;
  }
}

.header {
  padding: 1.3rem 5rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(38, 138, 219, 0.15);
}

@media only screen and (max-width: 37.5em) {
  .header {
    padding: 1.5rem 2rem;
  }
}

.header__logo {
  height: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .header__logo {
    height: 3.5rem;
  }
}

.header__btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #859457;
  padding: 0.5rem 3rem;
  border: 1px solid #859457;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

@media only screen and (max-width: 37.5em) {
  .header__btn {
    padding: 0.3rem 1.8rem;
    font-size: 1.3rem;
  }
}

.header__btn:hover {
  color: #ffffff;
  background-color: #859457;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 237, 168, 0.15))), url(../img/bg.jpg);
  background: linear-gradient(rgba(220, 237, 168, 0.15)), url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 85vh;
}

.inspection__container {
  width: 60rem;
  background: #ffffff;
  border: 1px solid rgba(38, 138, 219, 0.15);
  -webkit-box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.05);
          box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.05);
  margin-top: 6rem;
  margin-bottom: 5rem;
  padding: 4rem 6rem;
}

@media only screen and (max-width: 37.5em) {
  .inspection__container {
    width: 90%;
    padding: 3rem 1.8rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

.inspection__title {
  text-align: center;
  font-family: "Avenir";
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 5rem;
  color: #333333;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .inspection__title {
    font-size: 2.5rem;
  }
}

.inspection__cancel {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-family: "poppins";
  font-weight: 600;
  font-size: 1.5rem;
  color: #859457;
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid #859457;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

@media only screen and (max-width: 37.5em) {
  .inspection__cancel {
    top: 1rem;
    right: 1rem;
    height: 2.8rem;
    width: 2.8rem;
    font-size: 1.3rem;
  }
}

.inspection__cancel:hover {
  color: #548235;
  border: 1px solid #548235;
}
